<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
<session-factory>
<property name="connection.driver_class">com.mysql.jdbc.Driver
</property>
<property name="connection.url">jdbc:mysql://192.168.80.32:3306/PEN_LIS</property>
<property name="connection.username">admin</property>
<property name="connection.password">admin</property>

		
		<!-- For singleton factory -->
<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory</property>

 
 <!-- enable second level cache and query cache -->
 <property name="hibernate.cache.use_second_level_cache">true</property>
 <property name="hibernate.cache.use_query_cache">true</property>
 
 
<!-- <property name="dialect">org.hibernate.dialect</property> -->
<property name="show_sql">true</property>
<property name="hbm2ddl.auto">update</property>
 
<mapping class="com.hibernate.entity.Link" />
 
</session-factory>
</hibernate-configuration>